@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
* {
  font-family: 'Ubuntu';
}
.px-4about{
    background-image: url(../images/ftruck.png);
    color: white;
  }

  #aboutustitle{
    font-size: 80px;
    text-shadow: 5px 5px 5px mediumpurple;
    
  }
  
  #aboutdesc{
    text-align: center;
  }

 