.px-4about{
    background-image: url(/images/ftruck.png);
    color: white;
  }

  #aboutustitle{
    font-size: 80px;
    text-shadow: 5px 5px 5px mediumpurple;
    
  }
  
  #aboutdesc{
    text-align: center;
  }

  i{
      color:lightpink;
      text-decoration: underline;
  }

  h4{
      color:lightgreen;
  }

 