@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
* {
  font-family: 'Ubuntu';
}
.heading1{
color: lightblue;
}

.welcome{
    font-size: 50px;
    color:white;
    font-weight: bold;
    font-size: 70px;
    text-shadow: 5px 5px 5px mediumpurple;

  }


.footer{
  position: absolute;
  bottom:0;
   width:100%;

}

.px-4start{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(/images/restraunt.png);
  color: white;
}
.navbar-brand{
    color: black;
    font-weight: bold;
  }

  .nav-link{
    color:black;
  }

  .logoimg{
    width: 6%;
  }

  .navbar{
    background-color:wheat;
  }

  .btn{
    background-color:lightgreen;
    color:black;
  }

  .nav-link{
    color:black;
  }

  .navbar-brand{
    font-size: 25px;
  }

.xx{
  background-color: lightblue;

}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#preferences{
  width: 20%;
  background-color: white;
}

#preferencesbutton:a:hover{
  width: 30%;
}

.card-image {
  width: 100%;
  height: 250px;
}

.card {
  padding: 3%;
}

.more {
  text-decoration: none;
}

#addpost{

}

#addpost > p{
  visibility: hidden;
}

#addpost:hover > p{
  visibility: visible;
  
}

#addpost:hover{
  
}



