.heading1{
color: lightblue;
}

.welcome{
    font-size: 50px;
    color: violet;
    font-weight: bold;
}

.px-4start{
  background-image: url(/images/hiddengem.png);
  color: white;
}
.navbar-brand{
    color: black;
    font-weight: bold;
  }

  .nav-link{
    color:black;
  }

  .logoimg{
    width: 6%;
  }

  .navbar{
    background-color:wheat;
  }

  .btn{
    background-color:lightgreen;
    color:black;
  }

  .nav-link{
    color:black;
  }

  .navbar-brand{
    font-size: 25px;
  }

.xx{
  background-color: lightblue;

}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}