#userview{
    text-align: center;
    font-size: 50px;
    color:black;
    font-weight: bold;
    font-size: 70px;
    text-shadow: 5px 5px 5px mediumpurple;

}

#usernameprof{
    text-align: center;

}

.w3-col {
    float: left;
    width: 33.33%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

p{
    text-align: center;
}