#userview{
    text-align: center;
    font-size: 50px;
    color:black;
    font-weight: bold;
    font-size: 70px;
    text-shadow: 5px 5px 5px mediumpurple;

}

#usernameprof{
    text-align: center;

}

#divider{
    text-align: center;
    
}