@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
* {
    font-family: 'Ubuntu';
  }
.reward {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.card-content {
    background-color: wheat;
}
