@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
* {
  font-family: 'Ubuntu';
}
body {
  background-color: cornsilk;
}




.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.card {
  object-fit: fill;
}

.card-img-top {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar-brand {
  color: black;

}

.nav-link {
  color: black;
}

#logoimg {
  width: 6%;
}

.navbar {
  background-color: wheat;
}

.btn {
  background-color: lightgreen;
  color: black;
}

.nav-link {
  color: black;
}

.navbar-brand {
  font-size: 25px;
}



.px-4start {
  background-image: url(../images/hiddengem.png);
  color: white;
}

.column {
  float: left;
  width: 33.33%;
  color: mediumpurple;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  text-align: center;
}

#randall {
  width: 30%;
  border-radius: 0;
}

#aryan {
  width: 30%;
  border-radius: 0;
}

#artem {
  width: 30%;
  border-radius: 0;
}

h5 {
  font-size: 18px;
  color: black;
}

#faqtitle {
  color: mediumpurple;
  text-decoration: underline;
}

#addquestions {
  background-color: lightgrey;
}

#leadcupon {
  color: tomato;
}

.lead {
  font-size: 25px;
}

.px-4about{
  background-image: url(../images/ftruck.png);
  color: white;
}

#aboutustitle{
  font-size: 80px;
  text-shadow: 5px 5px 5px mediumpurple;
  
}

#aboutdesc{
  text-align: center;
}
